@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

::-moz-selection {
	background: #ffa86faa;
}

::selection {
	background: #ffa86faa;
}

img::-moz-selection {
	background: #ffa86faa;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
